node_modules/
public/resources/background/.DS_Store
.DS_Store
MockupResources/.DS_Store
public/js/.DS_Store
public/resources/.DS_Store
public/resources/dashboard/.DS_Store
public/resources/logo/.DS_Store
public/resources/ticket/.DS_Store
