html {
  height: 100%;
}
body{
  /*
  Background from Unsplash.com all rights go to their respective owner https://unsplash.com/@jplenio
  */
  background-image: url("../background/background-jplenio.jpeg");
  background-size: cover;
  background-position: center;
  font-family: 'Quattrocento', serif;
  color: #fff;
}

.navbar-dark {
  background-color: #0C1434;
}

button {
  background-color: #fff;
}

#content {
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
              0px 8px 13px rgba(0,0,0,0.2),
              0px 18px 23px rgba(0,0,0,0.1);
}
.popForm { 
  margin:0 auto 0 auto;
  display: float;
  padding-top: 25%;
}

hr {
  background-color: white;
  border-color: white;
  color: white;
  width: 450px;
  max-width: 90%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
h1 {
  font-weight: 700;
  font-size: 5em;
}
.secondary {
  color: #ddd;
  font-size: 0.5em;
  margin-top: 1px;
}
.modal {
  color: black;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.center .navbar-inner {
  text-align: center;
}
.navbar.center .navbar-nav {
  float: center;
  text-align: center;
}

input.valid{
  border: 1px solid #95FF4D;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  background-color: white;
}

.error {
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
input.error, textarea.error{
  border: 1px solid #FF3B3B;
}
input:focus,textarea:focus{
  outline: none !important;
}
label.error {
  color: #FF3B3B;
}