
/* GENERIC CSS PAGE ACROSS ALL PAGES */
html {
  height: 100%;
}

body {
  /*
  Background from Unsplash.com all rights go to their respective owner https://unsplash.com/@jplenio
  */
  background-image: url("../background/background-jplenio.jpeg");
  background-size: cover;
  background-position: center;
  font-family: 'Quattrocento', serif;
  color: #fff;
  position: relative;
  min-height: 100%;
}

button {
  background-color: #fff;
}

section {
  height: 100vh;
}

section #content {
  height: 100%;
}

hr {
  background-color: white;
  border-color: white;
  color: white;
  width: 450px;
  max-width: 90%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

#content {
  margin-top: 25%;
  text-align: center;
}

#content .left {
  text-align: left;
}

#sidebar h4,
#sidebar h2 {
  text-transform: uppercase;
  font-weight: 800;
}

#sidebar h4 {
  color: #5F1697;
  font-weight: 600;
}

.popForm {
  margin: 0 auto 0 auto;
  display: float;
  padding-top: 25%;
}

.navbar-dark {
  background-color: #0C1434;
}

#full {
  width: 80%;
}

.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: auto;
  background-color: #0C1434;
  white-space: nowrap;
}

.secondary {
  color: #ddd;
  font-size: 0.5em;
  margin-top: 1px;
}

.modal {
  color: black;
}

input.valid {
  border: 1px solid #95FF4D;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.error {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

input.error,
textarea.error {
  border: 1px solid #FF3B3B;
}

input:focus,
textarea:focus {
  outline: none !important;
}

label.error {
  color: #FF3B3B;
}
